{% extends 'base.html.twig' %}


{% block body %}

<div class="container">
  <h2>Localisations </h2>

  <div class="w3-row-padding w3-margin-bottom">
    <div class="w3-quarter">
      <div class="w3-container w3-red w3-padding-16">
        <div class="w3-left"><i class="fa fa-map-signs w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3></h3>
        </div>
        <div class="w3-clear"></div>
        <h4> <a href="{{ path('ho_create_zone') }}">  Ajouter une localisation  </a> </h4>
      </div>
  </div>
</div>

  <br/><br/>
  <input id="myInput"  placeholder="Recherche.." > <br/><br/>
           
  <table class="table table-striped">
    <thead>
      <tr>
      	<th> Id  </th>
        <th> Localisation </th>
        <th> Mettre à jour </th>
      </tr>
    </thead>
    <tbody id="myTable">
    {% for zone in zones %}
      <tr>
        <td> {{ zone.id }} </td>
        <td> {{ zone.name }} </td>
        <td> <a href="{{ path('ho_update_zone',{'id': zone.id }) }}" class="btn btn-default btn-primary" > lien </a></td>
      </tr>
    {% endfor %}
      
    </tbody>
  </table>
</div>
 <br/><br/><br/><br/><br/>
<script>
$(document).ready(function(){
	$("#myInput").on("keyup", function(){
	var value = $(this).val().toLowerCase();

	$("#myTable tr").each(function(){
	 $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
	});
	});
});

</script>



{% endblock %}