{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
<h3>  Mettre à jour alerte </h3>

{{ form_start(form, {'method': 'post', 'action': path('ho_update_alert_service') }) }}
                
            {{ form_rest(form) }}
            <button class="btn btn-default" type="submit" >Enregistrer</button>
{{ form_end(form) }}

</div>



{% endblock %}

