{% extends 'base.html.twig' %}


{% block body %}

<div class="container">

 {% render controller('HOEquipmentBundle:EquipmentCategory:create') %}
  <h3> Liste des domaines </h3>

 <br/><br/>
           
  <table class="table table-striped">
    <thead>
      <tr>
        <th> Famille </th>
        <th> Domaine </th>
        <th> Modifier </th>
      </tr>
    </thead>
    <tbody id="myTable">
    {% for categ in categories %}
      <tr>
        <td>  {{ categ.family.name }}  </td>
        <td> {{ categ.name }} </td>
        <td> <a href="{{ path('ho_update_category',{'id': categ.id }) }}"> lien </a></td>
      </tr>
    {% endfor %}
      
    </tbody>
  </table>
</div>
 
<script>
$(document).ready(function(){
	$("#myInput").on("keyup", function(){
	var value = $(this).val().toLowerCase();

	$("#myTable tr").each(function(){
	 $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
	});
	});
});

</script>



{% endblock %}