{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
<h2>  Créer un intervenant </h2>

{{ form_start(form, {'method': 'post', 'action': path('ho_create_repairer') }) }}
                
            {{ form_rest(form) }}
            <button class="btn btn-default" type="submit" >Enregistrer</button>
{{ form_end(form) }}


</div>


{% endblock %}

