{% extends "base.html.twig" %}


{% block body %}

                 
  <div class="container">  
  
  
  <h2>Connexion au compte </h2>
  <form action="{{ path('fos_user_security_check') }}" method="post">

  <div class="row">
    <div class="col-6">
    <input class="form-control width" type="text" id="email" name="_username" placeholder="Nom d'utilisateur ou email" required />
  <br>
  </div></div>

  <div class="row">
    <div class="col-6">
  <input class="form-control width" type="password" id="password" name="_password" placeholder="Mot de passe" required />
  <br/>
  </div></div>
   <button class="btn btn-default" type="submit" id="_submit" name="_submit" >Se connecter </button>
  </form>
</div>
<div>
                

{% endblock%}