{% extends 'base.html.twig' %}


{% block body %}

<div class="container">
  <h2> Liste des alertes </h2>

  <br/><br/>
  <input id="myInput"  placeholder="Recherche.." > <br/><br/>
           
  <table class="table table-striped">
    <thead>
      <tr>
      	<th> Service  </th>
        <th> Date </th>
        <th> Equipement </th>
        <th> Etat </th>
       
      </tr>
    </thead>
    <tbody id="myTable">
    {% for alert in alerts %}
      <tr>
        <td> {{ alert.service.name }} </td>
        <td> {{ alert.date }} </td>
        <td> {{ alert.equipment.name }} </td>
        <td> {{ alert.alertState.name }} </a></td>
        
      </tr>
    {% endfor %}
      
    </tbody>
  </table>
</div>
 <br/><br/><br/><br/><br/>
<script>
$(document).ready(function(){
	$("#myInput").on("keyup", function(){
	var value = $(this).val().toLowerCase();

	$("#myTable tr").each(function(){
	 $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
	});
	});
});

</script>



{% endblock %}