{% extends 'base.html.twig' %}

{% block body %}

<div class="container">

<h2>  Ajouter un équipement de base au service {{ service.name }} </h2>

{{ form_start(form, {'method': 'post', 'action': path('ho_service_add_equipment_base',{'serviceId':service.id}  ) }) }}
                
            {{ form_rest(form) }}
            <button class="btn btn-default" type="submit" >Enregistrer</button>
{{ form_end(form) }}


</div>


{% endblock %}

